<md-toolbar color="primary">
  <div fxLayout fxFlex>

    <div fxLayout="row" fxFlex="60" fxLayout.xs="column" fxLayout.sm="column" fxFlex> <b>To Do list </b> &nbsp; v1</div>
    <div fxLayout="row"> Bienvenue {{this.currentUsername}} | <a (click)="Deconnexion()">  Deconnexion </a></div>
  </div>

</md-toolbar>

<md-toolbar class="add_task">
  <div class="input">

    <md-input-container>
      <input #tacheName mdInput placeholder="Tâche à ajouter" value="">
    </md-input-container>

    <button md-raised-button color="primary" (click)="add(tacheName.value); tacheName.value=''">
        Ajouter
    </button>
  </div>
</md-toolbar>

<div class="container" fxLayout fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px" fxLayoutGap.xs="0">
  <div class="item item-3" fxFlex="33%">
    <tachesInit></tachesInit>
  </div>
  <div class="item item-3" fxFlex="33%">
    <tachesEnCours></tachesEnCours>

  </div>
  <div class="item item-3" fxFlex="33%">
    <tachesTerminees></tachesTerminees>
  </div>
</div>
