
<div class="login">
<md-toolbar color="primary">Login</md-toolbar>
<md-card>
<form #formRef ="ngForm" (ngSubmit)="onSubmit(formRef.value)">
  <md-input-container>
  <input mdInput placeholder="Nom d'utilisateur" value="" name ="username" [(ngModel)]="login.username"  #username = "ngModel" required  >
</md-input-container>
<md-input-container>
  <input mdInput placeholder="Mot de passe" type="password" value="" name="password" [(ngModel)]="login.password" #password ="ngModel" required >
</md-input-container>
<br>
<button md-raised-button color="primary" type="submit">Se connecter</button>
</form>
<p *ngIf="this.ok ==0"> Ce compte n'existe pas </p>
<p *ngIf="this.ok ==1"> Ce compte existe </p>


</md-card>
</div>
