.selectionnee {
	background-color: #e6e6fa	;
}

.cacher {

	display : none ;
	background-color: #333333
}


md-card {

	height:400px;
	overflow:auto;
}
md-icon-button {
margin-left:auto; margin-right:0;}

md-toolbar {
	    font-size: 200%;

}
